html {
     font-family: verdana;
     font-size: 50px;
     background-color: black;
     color: white;
     text-align: center;
}
h3 {
    text-align: center;
    margin: 0;
    margin-top: 10px;
}
p {
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}